@import '~antd/dist/antd.css';

.form {
  background-color: #f77e7e;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

h1 {
 padding-top: 3%;
  color: rgb(34, 33, 33);
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 50px;
}